In [94]:
import pandas as pd

initial_training_data = pd.read_csv("data/train.csv")
init_size = initial_training_data.shape
print(f"Inital shape: {init_size}")

initial_training_data

Inital shape: (891, 12)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

# Data Cleaning

I decided to drop the Cabin coloumn as it contained as the majority of entries where NaN. The remaining entries did not add much information to the dataset.

## Splitting the name column into first name, last name, and, honourific
I thought that honourifics may play a role in the survival of passengers they will then be keyed, in the event of a lack of an honourific "none" will be used

## Finding the rareity of given names
Using the us [Social Security Administraions (SSA) records](https://www.ssa.gov/oact/babynames/limits.html) I will find the birthyear of each passanger and check the receords for the frequency of babies born during that year. My idea is that rarer names may be indicidive of upper class passengers and as such it could influence survival rates.
As the records only go back to 1880 if they where born before that date I took the records from 1880.

In [95]:
# Removing Cabin Coloumn
del initial_training_data['Cabin']

#Removing NaN row entries
initial_training_data.dropna(inplace=True)
new_size = initial_training_data.shape

print(f"Rows that countained NaN: {init_size[0]- new_size[0]}")
print(f"Updated Shape: {new_size}")

Rows that countained NaN: 179
Updated Shape: (712, 11)

In [96]:
# casting age as an int value
initial_training_data["Age"] = initial_training_data["Age"].astype(int)

# formating Sex data to either be M or F
x = lambda str : "M" if str == "male" else "F"
initial_training_data["Sex"] = initial_training_data["Sex"].apply(x)

In [97]:
first_name = []
last_name = []
honourific = []

common_honourifics = ["Master.", "Mr.", "Miss.", "Mrs.", "Ms."]

for index, row in initial_training_data.iterrows():
    name = row["Name"].split()
    
    last_name.append(name[0].strip(","))

    if name[1] in common_honourifics:
        honourific.append(name[1])
        first_name.append(name[2])

    else:
        honourific.append("none")
        first_name.append(name[1])

initial_training_data['First_Name'] = first_name
initial_training_data['Last_Name'] = last_name
initial_training_data['Honourific'] = honourific

initial_training_data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,First_Name,Last_Name,Honourific
0,1,0,3,"Braund, Mr. Owen Harris",M,22,1,0,A/5 21171,7.2500,S,Owen,Braund,Mr.
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",F,38,1,0,PC 17599,71.2833,C,John,Cumings,Mrs.
2,3,1,3,"Heikkinen, Miss. Laina",F,26,0,0,STON/O2. 3101282,7.9250,S,Laina,Heikkinen,Miss.
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",F,35,1,0,113803,53.1000,S,Jacques,Futrelle,Mrs.
4,5,0,3,"Allen, Mr. William Henry",M,35,0,0,373450,8.0500,S,William,Allen,Mr.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",F,39,0,5,382652,29.1250,Q,William,Rice,Mrs.
886,887,0,2,"Montvila, Rev. Juozas",M,27,0,0,211536,13.0000,S,Rev.,Montvila,none
887,888,1,1,"Graham, Miss. Margaret Edith",F,19,0,0,112053,30.0000,S,Margaret,Graham,Miss.
889,890,1,1,"Behr, Mr. Karl Howell",M,26,0,0,111369,30.0000,C,Karl,Behr,Mr.
890,891,0,3,"Dooley, Mr. Patrick",M,32,0,0,370376,7.7500,Q,Patrick,Dooley,Mr.

In [107]:
#Name frequency by birth year
name_freq = []

year_data = {}

for index, row in initial_training_data.iterrows():
    birthyear = 1912 - row["Age"]
    
    # historical records go back to 1880
    if birthyear < 1880:
        birthyear = 1880

    if birthyear in year_data.keys():
        pass

    else:
        filename = f"yob{birthyear}.txt"
        year_data[birthyear] = pd.read_csv("data/namedata/"+filename, header= None, names=["Name", "Sex", "Freq"])

    curr_year = year_data[birthyear]
    curr_row = curr_year.loc[(curr_year["Name"] == row["First_Name"]) & (curr_year["Sex"] == row["Sex"])]

    print(curr_row["Freq"])
    #name_freq.append(curr_row["Freq"])

#initial_training_data["Name_Freq"] = name_freq

#initial_training_data

1730    68
Name: Freq, dtype: int64
228    46
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
Series([], Name: Freq, dtype: int64)
943    9532
Name: Freq, dtype: int64
1124    70
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
Series([], Name: Freq, dtype: int64)
Series([], Name: Freq, dtype: int64)
87    913
Name: Freq, dtype: int64
3    1939
Name: Freq, dtype: int64
1662    7782
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
253    138
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
2828    888
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
948    2632
Name: Freq, dtype: int64
1006    257
Name: Freq, dtype: int64
1    5429
Name: Freq, dtype: int64
1173    8897
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
Series([], Name: Freq, dtype: int64)
1656    3723
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
952    2364
Name: Freq, dtype: int64
1235    290
Name: Freq, dtype: int64
1014    211
Name: Freq, dtype: int64
1554    715
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
Series([], Name: Freq, dtype: int64)
Series([], Name: Freq, dtype: int64)
352    33
Name: Freq, dtype: int64
2507    5
Name: Freq, dtype: int64
3    3565
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
Series([], Name: Freq, dtype: int64)
1559    609
Name: Freq, dtype: int64
529    11
Name: Freq, dtype: int64
62    496
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
94    444
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
240    194
Name: Freq, dtype: int64
1944    5990
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
950    2444
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
Series([], Name: Freq, dtype: int64)
1674    796
Name: Freq, dtype: int64
275    103
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
1025    176
Name: Freq, dtype: int64
10    2702
Name: Freq, dtype: int64
1857    27
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
984    361
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
3883    79
Name: Freq, dtype: int64
3    2186
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
Series([], Name: Freq, dtype: int64)
1540    23
Name: Freq, dtype: int64
10    2626
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
1826    7747
Name: Freq, dtype: int64
15    1947
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
1152    139
Name: Freq, dtype: int64
1689    747
Name: Freq, dtype: int64
979    424
Name: Freq, dtype: int64
1986    8
Name: Freq, dtype: int64
966    643
Name: Freq, dtype: int64
946    5126
Name: Freq, dtype: int64
1480    7772
Name: Freq, dtype: int64
228    46
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
107    244
Name: Freq, dtype: int64
1559    609
Name: Freq, dtype: int64
1800    6
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
Series([], Name: Freq, dtype: int64)
1    5099
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
954    1755
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
1559    731
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
Series([], Name: Freq, dtype: int64)
Series([], Name: Freq, dtype: int64)
1008    248
Name: Freq, dtype: int64
1055    8387
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
Series([], Name: Freq, dtype: int64)
1624    178
Name: Freq, dtype: int64
1119    73
Name: Freq, dtype: int64
79    286
Name: Freq, dtype: int64
1731    7
Name: Freq, dtype: int64
2702    23
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
Series([], Name: Freq, dtype: int64)
Series([], Name: Freq, dtype: int64)
Series([], Name: Freq, dtype: int64)
Series([], Name: Freq, dtype: int64)
Series([], Name: Freq, dtype: int64)
1323    802
Name: Freq, dtype: int64
1818    27
Name: Freq, dtype: int64
5    3249
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
2447    13
Name: Freq, dtype: int64
1593    134
Name: Freq, dtype: int64
1    5233
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
1977    29
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
1657    2997
Name: Freq, dtype: int64
1282    193
Name: Freq, dtype: int64
2033    5
Name: Freq, dtype: int64
1819    6
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
Series([], Name: Freq, dtype: int64)
1000    9
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
Series([], Name: Freq, dtype: int64)
945    5348
Name: Freq, dtype: int64
60    1047
Name: Freq, dtype: int64
1039    2232
Name: Freq, dtype: int64
942    9655
Name: Freq, dtype: int64
343    22
Name: Freq, dtype: int64
1282    9026
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
3666    17
Name: Freq, dtype: int64
2090    2644
Name: Freq, dtype: int64
286    30
Name: Freq, dtype: int64
1214    435
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
2449    1601
Name: Freq, dtype: int64
48    2035
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
944    5927
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
121    131
Name: Freq, dtype: int64
1844    7
Name: Freq, dtype: int64
1659    8
Name: Freq, dtype: int64
2099    1261
Name: Freq, dtype: int64
2887    2030
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
945    5348
Name: Freq, dtype: int64
942    9655
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
Series([], Name: Freq, dtype: int64)
1653    7223
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
Series([], Name: Freq, dtype: int64)
343    22
Name: Freq, dtype: int64
328    24
Name: Freq, dtype: int64
1318    21
Name: Freq, dtype: int64
741    13
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
Series([], Name: Freq, dtype: int64)
Series([], Name: Freq, dtype: int64)
Series([], Name: Freq, dtype: int64)
Series([], Name: Freq, dtype: int64)
1318    21
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
2    4392
Name: Freq, dtype: int64
950    2444
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
Series([], Name: Freq, dtype: int64)
1534    8502
Name: Freq, dtype: int64
1365    27
Name: Freq, dtype: int64
904    5
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
1037    142
Name: Freq, dtype: int64
679    7
Name: Freq, dtype: int64
1040    1805
Name: Freq, dtype: int64
1920    201
Name: Freq, dtype: int64
1199    5175
Name: Freq, dtype: int64
946    5126
Name: Freq, dtype: int64
974    483
Name: Freq, dtype: int64
1781    47
Name: Freq, dtype: int64
1653    7223
Name: Freq, dtype: int64
1661    9039
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
529    11
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
1592    9
Name: Freq, dtype: int64
12    3542
Name: Freq, dtype: int64
1481    2814
Name: Freq, dtype: int64
1025    176
Name: Freq, dtype: int64
95    639
Name: Freq, dtype: int64
1698    432
Name: Freq, dtype: int64
946    5126
Name: Freq, dtype: int64
1603    12
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
Series([], Name: Freq, dtype: int64)
Series([], Name: Freq, dtype: int64)
Series([], Name: Freq, dtype: int64)
370    42
Name: Freq, dtype: int64
964    728
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
Series([], Name: Freq, dtype: int64)
943    9532
Name: Freq, dtype: int64
1029    9298
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
Series([], Name: Freq, dtype: int64)
256    46
Name: Freq, dtype: int64
1    2604
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
Series([], Name: Freq, dtype: int64)
1054    119
Name: Freq, dtype: int64
943    9532
Name: Freq, dtype: int64
959    869
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
1908    10
Name: Freq, dtype: int64
286    30
Name: Freq, dtype: int64
95    221
Name: Freq, dtype: int64
1307    7470
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
945    5348
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
112    151
Name: Freq, dtype: int64
2700    23
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
947    3242
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
Series([], Name: Freq, dtype: int64)
1660    2309
Name: Freq, dtype: int64
1263    28
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
Series([], Name: Freq, dtype: int64)
Series([], Name: Freq, dtype: int64)
115    352
Name: Freq, dtype: int64
69    551
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
1975    5
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
1791    32
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
1    10479
Name: Freq, dtype: int64
343    22
Name: Freq, dtype: int64
1653    7223
Name: Freq, dtype: int64
4519    19
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
1044    1003
Name: Freq, dtype: int64
16    1151
Name: Freq, dtype: int64
4    2904
Name: Freq, dtype: int64
92    551
Name: Freq, dtype: int64
363    35
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
973    490
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
Series([], Name: Freq, dtype: int64)
Series([], Name: Freq, dtype: int64)
0    6919
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
1553    815
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
225    58
Name: Freq, dtype: int64
826    11
Name: Freq, dtype: int64
54    471
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
Series([], Name: Freq, dtype: int64)
595    9
Name: Freq, dtype: int64
172    255
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
946    5126
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
1063    2316
Name: Freq, dtype: int64
3    1939
Name: Freq, dtype: int64
1318    21
Name: Freq, dtype: int64
1025    176
Name: Freq, dtype: int64
3030    98
Name: Freq, dtype: int64
12    2202
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
1310    4031
Name: Freq, dtype: int64
1132    65
Name: Freq, dtype: int64
107    358
Name: Freq, dtype: int64
136    115
Name: Freq, dtype: int64
2549    7913
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
Series([], Name: Freq, dtype: int64)
Series([], Name: Freq, dtype: int64)
Series([], Name: Freq, dtype: int64)
Series([], Name: Freq, dtype: int64)
44    1220
Name: Freq, dtype: int64
10    1258
Name: Freq, dtype: int64
1846    6
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
Series([], Name: Freq, dtype: int64)
Series([], Name: Freq, dtype: int64)
Series([], Name: Freq, dtype: int64)
478    13
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
1309    4284
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
1653    7223
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
Series([], Name: Freq, dtype: int64)
1011    8
Name: Freq, dtype: int64
1208    2198
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
1867    63
Name: Freq, dtype: int64
250    39
Name: Freq, dtype: int64
128    646
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
Series([], Name: Freq, dtype: int64)
1706    3788
Name: Freq, dtype: int64
2959    432
Name: Freq, dtype: int64
78    299
Name: Freq, dtype: int64
10    2626
Name: Freq, dtype: int64
943    9532
Name: Freq, dtype: int64
1556    675
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
181    157
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
Series([], Name: Freq, dtype: int64)
Series([], Name: Freq, dtype: int64)
972    496
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
339    34
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
1282    9026
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
Series([], Name: Freq, dtype: int64)
Series([], Name: Freq, dtype: int64)
Series([], Name: Freq, dtype: int64)
Series([], Name: Freq, dtype: int64)
2549    7913
Name: Freq, dtype: int64
1875    25
Name: Freq, dtype: int64
47    564
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
343    22
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
1029    9298
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
1558    673
Name: Freq, dtype: int64
1148    142
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
Series([], Name: Freq, dtype: int64)
464    19
Name: Freq, dtype: int64
131    323
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
Series([], Name: Freq, dtype: int64)
519    11
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
943    9532
Name: Freq, dtype: int64
152    330
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
883    10
Name: Freq, dtype: int64
1101    85
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
Series([], Name: Freq, dtype: int64)
1761    187
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
Series([], Name: Freq, dtype: int64)
3646    7
Name: Freq, dtype: int64
409    51
Name: Freq, dtype: int64
1306    22
Name: Freq, dtype: int64
9    3880
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
Series([], Name: Freq, dtype: int64)
1061    478
Name: Freq, dtype: int64
958    1024
Name: Freq, dtype: int64
1360    29
Name: Freq, dtype: int64
991    344
Name: Freq, dtype: int64
60    411
Name: Freq, dtype: int64
953    2152
Name: Freq, dtype: int64
943    9532
Name: Freq, dtype: int64
955    1599
Name: Freq, dtype: int64
980    404
Name: Freq, dtype: int64
1114    75
Name: Freq, dtype: int64
942    9655
Name: Freq, dtype: int64
231    378
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
Series([], Name: Freq, dtype: int64)
Series([], Name: Freq, dtype: int64)
15    2178
Name: Freq, dtype: int64
972    496
Name: Freq, dtype: int64
1091    431
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
1182    15
Name: Freq, dtype: int64
2102    1065
Name: Freq, dtype: int64
964    728
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
Series([], Name: Freq, dtype: int64)
Series([], Name: Freq, dtype: int64)
952    2364
Name: Freq, dtype: int64
1083    327
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
Series([], Name: Freq, dtype: int64)
953    2152
Name: Freq, dtype: int64
1618    9
Name: Freq, dtype: int64
1543    1989
Name: Freq, dtype: int64
3    1939
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
Series([], Name: Freq, dtype: int64)
Series([], Name: Freq, dtype: int64)
0    11704
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
270    113
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
Series([], Name: Freq, dtype: int64)
1180    2474
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
1104    325
Name: Freq, dtype: int64
944    5927
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
Series([], Name: Freq, dtype: int64)
943    9532
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
286    30
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
122    168
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
892    5
Name: Freq, dtype: int64
944    5927
Name: Freq, dtype: int64
43    590
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
1502    711
Name: Freq, dtype: int64
174    392
Name: Freq, dtype: int64
1814    2992
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
38    1815
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
8    1508
Name: Freq, dtype: int64
494    28
Name: Freq, dtype: int64
72    319
Name: Freq, dtype: int64
1920    5
Name: Freq, dtype: int64
909    14
Name: Freq, dtype: int64
952    2364
Name: Freq, dtype: int64
954    1755
Name: Freq, dtype: int64
955    1599
Name: Freq, dtype: int64
971    10
Name: Freq, dtype: int64
947    3242
Name: Freq, dtype: int64
2165    8108
Name: Freq, dtype: int64
1808    8320
Name: Freq, dtype: int64
2017    7
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
Series([], Name: Freq, dtype: int64)
946    5126
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
Series([], Name: Freq, dtype: int64)
Series([], Name: Freq, dtype: int64)
Series([], Name: Freq, dtype: int64)
1181    2468
Name: Freq, dtype: int64
1510    536
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
Series([], Name: Freq, dtype: int64)
983    372
Name: Freq, dtype: int64
946    5126
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
942    9655
Name: Freq, dtype: int64
1866    527
Name: Freq, dtype: int64
1655    4320
Name: Freq, dtype: int64
37    633
Name: Freq, dtype: int64
286    30
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
519    19
Name: Freq, dtype: int64
228    46
Name: Freq, dtype: int64
943    9532
Name: Freq, dtype: int64
942    9655
Name: Freq, dtype: int64
5    3372
Name: Freq, dtype: int64
942    9655
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
Series([], Name: Freq, dtype: int64)
Series([], Name: Freq, dtype: int64)
674    8
Name: Freq, dtype: int64
943    9532
Name: Freq, dtype: int64
942    9655
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
976    469
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
883    10
Name: Freq, dtype: int64
1592    9
Name: Freq, dtype: int64
953    2152
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
Series([], Name: Freq, dtype: int64)
1205    2322
Name: Freq, dtype: int64
852    11
Name: Freq, dtype: int64
3    1939
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
943    9532
Name: Freq, dtype: int64
12    2202
Name: Freq, dtype: int64
1592    9
Name: Freq, dtype: int64
363    35
Name: Freq, dtype: int64
62    1349
Name: Freq, dtype: int64
1338    331
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
998    309
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
1542    2049
Name: Freq, dtype: int64
1558    673
Name: Freq, dtype: int64
974    483
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
434    34
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
Series([], Name: Freq, dtype: int64)
Series([], Name: Freq, dtype: int64)
Series([], Name: Freq, dtype: int64)
24    2163
Name: Freq, dtype: int64
0    9217
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
995    282
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
2024    28
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
Series([], Name: Freq, dtype: int64)
812    38
Name: Freq, dtype: int64
950    2444
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
Series([], Name: Freq, dtype: int64)
136    252
Name: Freq, dtype: int64
32    1716
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
Series([], Name: Freq, dtype: int64)
1556    225
Name: Freq, dtype: int64
228    46
Name: Freq, dtype: int64
1482    4430
Name: Freq, dtype: int64
955    1599
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
Series([], Name: Freq, dtype: int64)
952    2364
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
Series([], Name: Freq, dtype: int64)
971    517
Name: Freq, dtype: int64
1881    11
Name: Freq, dtype: int64
980    404
Name: Freq, dtype: int64
672    8
Name: Freq, dtype: int64
1525    10
Name: Freq, dtype: int64
950    2444
Name: Freq, dtype: int64
942    4636
Name: Freq, dtype: int64
2710    6
Name: Freq, dtype: int64
1515    496
Name: Freq, dtype: int64
1    5565
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
949    2534
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
Series([], Name: Freq, dtype: int64)
1979    3557
Name: Freq, dtype: int64
949    2534
Name: Freq, dtype: int64
1312    2456
Name: Freq, dtype: int64
Series([], Name: Freq, dtype: int64)
Series([], Name: Freq, dtype: int64)
Series([], Name: Freq, dtype: int64)
1443    6
Name: Freq, dtype: int64
953    1319
Name: Freq, dtype: int64